<section>
  <ul class="social-icons">
    <li><a class="social-icon social-rss" href="{{ site.subscribe_rss }}" title="subscribe via RSS">RSS</a></li>
    <li><a class="social-icon social-github" href="https://github.com/{{site.github_user}}" title="GitHub">GitHub</a></li>
    <li><a class="social-icon social-linkedin" href="http://au.linkedin.com/pub/steve-occhipinti/18/55/750" title="LinkedIn">LinkedIn</a></li>
    <li><a class="social-icon social-flickr" href="http://flickr.com/stevenocchipinti" title="Flickr">Flickr</a></li>
    <li><a class="social-icon social-twitter" href="http://twitter.com/{{site.twitter_user}}" title="Twitter">Twitter</a></li>
    <li><a class="social-icon social-facebook" href="http://facebook.com/stevenocchipinti" title="Facebook">Facebook</a></li>
  </ul>
  <div style="clear: both;"/>
</section>
